# Entornos virtuales
venv/
env/
__pycache__/
*.pyc
*.pyo

# Configuración de entorno
.env
*.env

# Archivos de datos y resultados
/data/*.csv
/data/*.pkl
/models/*.pkl
/notebooks/

# Archivos de Docker y volúmenes
docker-compose.override.yml
postgres_data/
*.log

# Configuración y caché de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de caché de Pytest
.pytest_cache/

# Archivos de instalación y de requerimientos
*.egg-info/
.eggs/
*.sqlite3
.DS_Store
.idea/
.vscode/

# Configuración de Git y logs de depuración
logs/
*.log
*.out
*.err
